version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: bits_postgres
    environment:
      POSTGRES_DB: db_bits
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bits_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: bits_backend
    environment:
      NODE_ENV: development
      PORT: 3001
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: db_bits
      DB_USER: root
      DB_PASSWORD: root
    volumes:
      - ./backend:/app
      - /app/node_modules
      - /app/dist
    command: npm run dev
    ports:
      - "3001:3001"
    depends_on:
      - postgres
    networks:
      - bits_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: bits_frontend
    environment:
      NODE_ENV: development
      WATCHPACK_POLLING: "true"
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev -- --webpack
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - bits_network

volumes:
  postgres_data:

networks:
  bits_network:
    driver: bridge